table {
    border-collapse: collapse;
  }
  
  td {
    width: 100px;
    height: 100px;
    text-align: center;
    font-size: 36px;
    border: 2px solid #000;
  }
  
  td:hover {
    background-color: #f0f0f0;
  }
  
  